//
// product-cart.scss
//

.product-cart {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 18px;
    transition: transform 0.2s;

    .py-4 {
        padding-bottom: 0px !important;

        .gallery-product {
            img {
                height: 18rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 18px;
            }
        }
    }
}

.product-cart:hover {
    transform: scale(1.03);
}
