//
// product-cart.scss
//

.product-cart {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 18px;
    transition: transform 0.2s;

    .py-4 {
        padding-bottom: 0px !important;

        .gallery-product {
            img {
                height: 18rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 18px;
            }
        }
    }
}

.swiper-slide {
        padding-top: 8px
}

.product-cart:hover {
    transform: scale(1.03);
}
