img.cart-img {
    width: 4.5rem;
    height: 4.5rem;
}

img.invisible {
    width: 0px;
    height: 4.5rem;
}

.info-text {
    margin: 20px;
}

div.mb-3.check {
    display: flex;
    margin-left: 11rem;
}

.table-card {
    hr {
        margin: 0px !important;
    }
}
