//
// product-details.scss
//

.pictures {
    display: flex;
    height: 40rem;
    gap: 2rem;

    img {
        border-radius: 18px;
    }

    .small-pictures {
        img {
            height: 20%;
        }

        display: flex;
        gap: 2%;
        flex-direction: column;

        .buttons {
            display: flex;
            gap: 1rem;
            height: 10%;

            justify-content: center;
            align-items: center;

            .btn {
                border-radius: 18px;
            }
        }
    }

    .big-picture {
        img {
            height: 96%;
        }
    }
}

.product-details-container {
    display: flex;
    gap: 3rem;

    width: 100%;
}

.info {
    // h5.text-primary {
    //     font-family: 'Montserrat';
    //     font-size: 28.2px;
    //     font-weight: 370;
    // }

    h5.text-primary {
        font-family: 'Montserrat';
        font-size: 28.2px;
        font-weight: 370;
    }

    span.ln-base {
        font-family: 'Montserrat';
        font-size: 28.2px;
        font-weight: 370;
    }
}

.add-to-cart {
    height: 3rem;

    .btn-hover {
        width: 8rem !important;
        height: 80% !important;
    }
}

.product-details {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    span {
        font-size: 28px !important;
        font-weight: 550 !important;
    }

    .operation {
        font-family: Archivo;
    }

    .wishlist {
        font-size: x-large;
    }

    .dropdown {
        display: flex;
        align-items: center;
        gap: 3rem;
        button {
            width: 12rem;
            background-color: rgb(246, 246, 246);
            font-weight: 400;
            border: solid 2.5px rgb(228, 228, 228);
            color: rgb(228, 228, 228);
            padding-left: 0.5rem;
        }

        .dropdown-toggle::after {
            margin-left: 2rem;
        }
    }

    .colors {
        display: flex;
        gap: 1.89rem;
        align-items: center;
        .color {
            .rounded-circle {
                border: 1px solid #3b3f41 !important;
            }

            label {
                margin-bottom: 0px !important;
            }
        }
    }
}

.sold {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 15px;
    height: 40px;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 0.2rem;
    flex-direction: row;

    p {
        margin-top: 18px;
    }

    .bi-fire {
        padding-left: 1rem;
        color: $secondary;
    }
}

.information {
    p {
        padding-top: 15px;
        font-size: 15px;
    }

    width: 130%;
    background-color: #dceef4;
    border-radius: 15px;
    height: 40px;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 1rem;

    .bi-eye {
        padding-left: 1rem;
    }
}

.categories {
    display: flex;
    gap: 0.5rem;
}

.socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    p {
        margin-bottom: 0px !important;
    }
}

.wishlist {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
}
