//
// _profile.scss
//

.profile-user {
    position: relative;
    display: inline-block;

    .profile-photo-edit {
        position: absolute;
        right: $card-spacer-x;
        left: auto;
        top: $card-spacer-y;
        cursor: pointer;
    }

    .user-profile-image {
        object-fit: cover;
    }

    .profile-img-file-input {
        display: none;
    }
}

.profile-basic {
    height: 180px;
}

.table-responsive {
    table {
        tbody {
            td {
                width: 25%;
            }

            td:first-child {
                div.d-flex {
                    align-items: center;
                }

                width: unset !important;
            }

            td:last-child {
                width: 30% !important;
                ul {
                    flex-direction: column;

                    li {
                        button {
                            display: flex;
                            gap: 0.3rem;
                            width: 17rem;
                        }
                    }
                }
            }
        }
    }
}

.account-top {
    padding-top: 2rem !important;

    .btn {
        margin-right: 1.1rem;
        margin-bottom: -4rem;
    }

    h5 {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 0.1rem !important;
    }

    .edit {
        p {
            margin-bottom: 0px;
        }
    }
}

section.account.py-5 {
    padding-top: 1.2rem !important;

    div.xp-points {
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-direction: column;

        .text {
            font-size: xx-large;
            display: flex;
            margin-left: -1.15rem;
            gap: 2rem;
        }

        .buttons {
            display: flex;
            gap: 0.5rem;

            button {
                height: 3rem;
                width: 10rem;
                font-size: x-large;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

.profile-user-img {
    img {
        height: 285px;
        width: 100%;
    }
}

//activity-timeline
.acitivity-timeline {
    position: relative;
    overflow: hidden;

    .acitivity-item {
        position: relative;

        .flex-shrink-0 {
            z-index: 2;
        }

        .acitivity-avatar {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-top: 8px;
            background-color: $body-secondary-bg;
            border: 1px solid $primary;
            box-shadow: rgba($primary, 0.2) 2px 2px, rgba($primary, 0.1) 4px 4px, rgba($primary, 0.05) 6px 6px;
        }

        &:before {
            content: '';
            position: absolute;
            border-left: 1px dashed var(--#{$prefix}border-color);
            left: 4px;
            height: 100%;
            top: 8px;
            z-index: 0;
        }

        &:last-child {
            &::before {
                border-color: transparent;
            }
        }
    }
}
